body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 87px;
    background-color: #4F9BA8;
}
.navbar a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    width: 35%;
    color: white;
    list-style: none;
    cursor: pointer;
    
    
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img{
    max-width: 100%;
    height: 476px;
    object-fit: cover;
}
.carousel p{ 
    position: absolute;
    color: white;
    font-size: 44px;
    width: 490px;
    text-align: center;
    margin-bottom: 200px;
    font-weight: 700;
    
}
.carousel button{
    position: absolute;
    text-decoration: none;
    background: rgba(196, 196, 196, 0.2);
    border: 3px solid #AFB1B4;
    border-radius: 10px;
    color: #E4E4E4;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    margin-top: 60px;
    cursor: pointer;
}

.carousel-dots span{
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;  
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.carousel-dots{
    display: flex;
    position: absolute;
    margin-top: 350px;
}

#selected{
    background-color: #9d9d9d !important;
}
.whiteScreen{
    width: 100%;
    height: 443px;
    background-color: #FFFFFF;
    display: block;
    
    
}
.whiteScreen h3{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #4C505D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
}
.whiteScreen p{
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    height: 32px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.icons{
    margin-right: auto;
    margin-left: auto;
    width: 55%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    margin-top: 80px;


}
.about{
    width: 100%;
    height: 468px;
    background-color: #00D089;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img{
    position: absolute;
    top: 1200px;
}
.about h2{
    position: absolute;
    width: 10%;
    height: 35px;
    margin-left: 370px;
    top: 1200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: white;
}
.about span{
    font-family: 'Roboto';
    font-style: normal;
    position: absolute;
    width: 10%;
    height: 282px;
    font-weight: 400;
    font-size: 338.37px;
    line-height: 397px;
    color: rgba(255, 255, 255, 0.426);
    margin-left: 370px;
    top: 1200px;

}
.about p{
    position: absolute;
    width: 70%;
    height: 111px;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    top: 1370px;
}
.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
#map-img{
    width: 100%;
    height: 517px;
    object-fit: cover;
}
.contact-me span{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: absolute;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
}
.contact-me form{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name-input{
    margin-top: 70px;
    width: 275px;
    height: 30px ;
    border: 1px solid #D8D8D8 ;
    margin-bottom: 13px;
    padding-left: 20px;
}
.email-input{
    width: 275px;
    height: 30px ;
    border: 1px solid #D8D8D8 ;
    margin-bottom: 13px;
    padding-left: 20px;
}
.msg-input{
    width: 275px;
    font-family: 'Roboto';
    font-style: normal;
    border: 1px solid #D8D8D8 ;
    margin-bottom: 13px;
    padding-left: 20px;
    padding-top: 10px;
    resize: none;
}
.form-btn{
    border: none;
    background-color: white;
    cursor: pointer;

}
.footer{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #00D089;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
}
@media only screen and (max-width: 1024px) {
    .navbar-links{
        width: 35%;
    }
    .whiteScreen h3{
        width: 63%;
    }
    .whiteScreen p{
        width: 82%;
    }
}

